{% extends "default.html" %}
{% block title %} | Purchasing Policy {% endblock %}

{% block head_tags %}
<style>
    .SAVE {
        font-size: 18px;
        color: white;
        padding: 20px;
        background-color: limegreen;
        border: 3px solid limegreen;
        transition: 300ms;
        width: 100%;
        text-align: left;
    }

    .SAVE:hover {
        background-color: transparent;
        color: limegreen;
        border: 3px solid limegreen;
        cursor: pointer;
    }

    .EDIT_PROFILE_DESC {
        font-size: 18px;
        padding-bottom: 30px;
    }

    .profile_icon {
        height: 20px;
        padding-right: 10px;
    }

    .profile_side_icon {
        height: 15px;
    }

    .prem_icon {
        height: 25px;
    }

    .wrapper {
        display: flex;
    }

    .box {
        flex: 1;
        padding-left: 15px;
    }

    .box_2 {
        flex: 1;
        padding-left: 15px;
    }

    #layout_example {
        max-width: 100%;
    }


    .mobile {
        display: none;
        list-style: none;
        background-color: #fff5;
        border-bottom: 3px solid pink;
    }

    .mobile:hover {
        background-color: #fff2;
        border-left: 3px solid transparent;
        border-bottom: 3px solid pink;
    }

    .nav_arrow {
        height: 18px;
    }

    .profile_pannel_content {
        text-align: center;
        padding: 10px;
    }

.bye_desktop{
	display: none;
}

@media only screen and (max-width: 900px) {

.bye_desktop{
	display: block;
}

        #productpage_holder {
            padding: 8px;
        }

        .profile_side_menu_list {
            display: none;
        }

        .profile_side_menu_list.live {
            display: block;
            background-color: #fff5;
        }

        .bye_mobile {
            display: none;
        }

        .mobile {
            display: block;
        }

        .EDIT_PROFILE_DESC {
            padding-left: 15px;
            padding-right: 15px;
        }

        .edits {
            text-align: center;
        }

        .wrapper {
            flex-direction: column;
        }

        .box {
            flex: 1;
            padding-left: 0px;
        }

        .box_2 {
            flex: 1;
            padding: 15px;
        }
    }
</style>
{% endblock %}

{% block divheader %}
<div id="main_products">
    {% endblock %}

    {{ super() }}

    {% block content %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        const target = document.getElementsByClassName("profile_side_menu_list");

        function profile_menu_open() {
            x = $(".profile_side_menu_list").first().hasClass("profile_side_menu_list live");

            if (!x) {
                target[0].className += " live";
            }

            if (x) {
                target[0].className = "profile_side_menu_list";
            }
        }
    </script>

    <div id="productpage_holder">
        <div class="profile_pannel">
            <div class="profile_flex">
                <div class="profile_side_menu">
                    <h1 class="profile_name">
                        LEGAL
                    </h1>

                    <li onclick="profile_menu_open()" class="mobile profile_btns">
                        MENU
                        <img class="nav_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                    </li>

                    <ul id"profile_menu" class="profile_side_menu_list">
														<br class="bye_desktop">

                            <li onclick="window.open('/legal', '_self')" class="profile_btns"> 
															PRIVACY POLICY
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
                            <li onclick="window.open('/legal/purchase', '_self')" class="profile_btns"> 
															PURCHASING POLICY
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
														
														<li onclick="window.open('/legal/free_app', '_self')" class="active profile_btns"> 
															FREE APP AGREEMENT
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>    
                        <br><br>
                        <li onclick="window.open('/faq', '_self')" class=" profile_btns">
                            FAQ
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                        <li onclick="window.open('/aboutus', '_self')" class=" profile_btns">
                            ABOUT US
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                        <li onclick="window.open('/FB_compile', '_self')" class=" profile_btns">
                            CONTACT US
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                    </ul>
                    <br><br>
                </div>
                <div class="profile_pannel_content">

                    <img id="products_icon" src="{{ url_for('static', filename='logo/white_mini_transparent.png') }}">
                    <h1 class="product_list_title"> OFFICAL FREE APPLICATION AGREEMENT </h1>
                    <br>
                    <p class="top_desc prod_page_main_desc">
The ability to empower users through free applications is an something which we strongly support. This Free App Agreement outlines the rights of you, the user of Compile Project’s Free applications will have as well as the restrictions imposed when using any of our free products. Modifying the code behind our free applications is strictly prohibited and can result in the suspension or even termination of your account. Attempting to steal and/or sell the code behind our free products is also prohibited and can result in account suspension or even termination. All documents and output from our free programs are fully owned by the user and can be used for anything freely.                        <br>
                        <br>
                        <br>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
    {% endblock %}


    {% block animations %}
    <!-- <script src="main_websites.js"></script> -->
    {% endblock %}
