{% from "_formhelpers.html" import render_field %}


{% extends "default.html" %}
{% block title %} | {{current_user.first_name}}'s Profile {% endblock %}

{% block head_tags %} 
<style>
.profile_icon{
	height: 20px;
	padding-right: 10px;
}

.profile_side_icon{
	height: 15px;
}

.prem_icon{
	height: 25px;
}

.prem_icon_2{
	height: 15px;
}

.mobile{
	display:none;
	list-style: none;
	background-color: #fff5;
	border-bottom: 3px solid pink;
}

.mobile:hover{
	background-color: #fff2;
	border-left: 3px solid transparent;
	border-bottom: 3px solid pink;
}

.nav_arrow{
	height: 18px;
}

.bye_desktop{
	display: none;
}

@media only screen and (max-width: 900px) {

.bye_desktop{
	display: block;
}

		#productpage_holder{
		padding: 8px;
	}

	.profile_side_menu_list{
		display: none;
	}

	.profile_side_menu_list.live{
		display: block;
		background-color: #fff5;
	}

	.bye_mobile{
		display: none;
	}

	.mobile{
		display: block;
	}

}
</style>
{% endblock %}

{% block divheader %}
<div id="main_cart">
{% endblock %}

{{ super() }}

{% block content %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        <div id="ALERT" class="alert_good">
            {% for message in messages %}
            <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
            {{ message }}
            {% endfor %}
        </div>
        <br>
        {% endif %}
        {% endwith %}


<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
<script>
	const target = document.getElementsByClassName("profile_side_menu_list");

	function profile_menu_open(){
		x = $(".profile_side_menu_list").first().hasClass("profile_side_menu_list live");

		if (!x){
			target[0].className += " live";
		}

		if (x){
			target[0].className = "profile_side_menu_list";
		}
	}
</script>


        <div id="warning_window" class="warnning_holder">
            <div class="warning_pannel">
                <h1 class="warning_title"> &#x26A0; WARNING &#x26A0; </h1>
                <p class="warning_txt">
                    You are about to permanently delete your Compile Projects account. This action cannot be reversed or undone and your account including all purchases and information stored in relation to this account will be deleted FOREVER.
                </p>
                <br>
                <button onclick="hide()" class="keep_account"> KEEP MY ACCOUNT </button>
                <div class="concequences_holder">
                    <input id="confirm" type="checkbox">
                    I UNDERSTAND THE CONSEQUENCES
                    <br><br>
                    <span onclick="del()" class="del"> YES PERMANENTLY DELETE MY ACCOUNT </span>
                </div>
            </div>
        </div>

        <div id="productpage_holder">
            <div class="profile_pannel">
                <div class="profile_flex">
                    <div class="profile_side_menu">
                        <h1 class="profile_name"> 
													Hi {{current_user.first_name}}!
													{% if current_user.is_premium == True %}
													<img class="prem_icon" src="{{ url_for('static', filename='icons/premium.png') }}"> 
													{% endif %} 
												</h1>

												<li onclick="profile_menu_open()" class="mobile profile_btns"> 
													MENU 
													<img class="nav_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
												</li>

                        <ul id"profile_menu" class="profile_side_menu_list">
													  <br class="bye_desktop">
														{% if current_user.is_admin == True %}
                							<li onclick="window.open('/admin', '_self')" class="profile_btns"> 
																<img class="profile_side_icon" src="{{ url_for('static', filename='icons/data.png') }}"> 
																DATABASE
																<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
															</li>
                							<li onclick="window.open('/admin/send_mail', '_self')" class="profile_btns"> 
																<img class="profile_side_icon" src="{{ url_for('static', filename='icons/send_mail.png') }}"> 
																SEND MAIL
																<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
															</li>
															<br><br>
														{% endif %}

														{% if current_user.email_confirmed == False %}
                							<li onclick="window.open('/confirm_email/send', '_self')" class="profile_btns"> 
															  <img class="profile_side_icon" src="{{ url_for('static', filename='icons/confirm_email.png') }}"> 
																CONFIRM EMAIL 
																<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
																</li>
															<br><br>
														{% endif %}
                            <li onclick="window.open('/profile', '_self')" class="active profile_btns"> 
														  <img class="profile_side_icon" src="{{ url_for('static', filename='icons/card.png') }}"> 
															GENERAL 
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
                            <li onclick="window.open('/profile/orders', '_self')" class="profile_btns"> 
															<img class="profile_side_icon" src="{{ url_for('static', filename='icons/orders.png') }}"> 
															ORDERS 
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
														<li onclick="window.open('/profile/purchased', '_self')" class="profile_btns"> 
															<img class="profile_side_icon" src="{{ url_for('static', filename='icons/purchased.png') }}"> 
															PURCHASED 
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
														<li onclick="window.open('/profile/wishlist', '_self')" class="profile_btns"> 
														  <img class="profile_side_icon" src="{{ url_for('static', filename='icons/wishlist.png') }}"> 
															WISHLIST 
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
                            <li onclick="window.open('/profile/settings', '_self')" class="profile_btns">
														  <img class="profile_side_icon" src="{{ url_for('static', filename='icons/settings.png') }}"> 
															SETTINGS 
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
                            <br><br>
                            <li onclick="window.open('/logout', '_self')" class="logout_btn profile_btns"> LOGOUT </li>
                        </ul>
												<br class="bye_mobile">
												<br class="bye_mobile">
                    </div>
                    <div class="profile_pannel_content">

                        <div id="PROFILE_MAIN">
                            <h1 class="page_title"> GENERAL </h1>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> USERNAME </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.username}} </h1>
                                </div>
                            </div>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> FIRST NAME </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.first_name}} </h1>
                                </div>
                            </div>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> LAST NAME </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.last_name}} </h1>
                                </div>
                            </div>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> 
																			EMAIL 
																			{% if current_user.email_confirmed == False %}
																			(UNCONFIRMED)
																			{% endif %}
																		</h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.email}} </h1>
                                </div>
                            </div>
														 <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> WHATSAPP NUMBER </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.phone_number}} </h1>
                                </div>
                            </div>
                            <br>
                            <div class="line"></div>
                            <br>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> MEMBER SINCE </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.created}} </h1>
                                </div>
                            </div>
                            <div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> LOGIN COUNTER </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> {{current_user.login_counter}} </h1>
                                </div>
                            </div>
														{% if current_user.is_admin == True %}
                							<div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> STAFF STATUS </h1>
                                </div>
                                <div class="profile_data">
                                    <h1 class="title_txt"> 
																			ADMIN 
																			<img class="prem_icon_2" src="{{ url_for('static', filename='icons/admin.png') }}"> 
																		</h1>
                                </div>
                            	</div>
														{% endif %}
                							<div class="flex_mini profile_flex">
                                <div class="profile_title">
                                    <h1 class="title_txt"> ACCOUNT TYPE </h1>
                                </div>

																{% if current_user.is_premium == False %}
                                <div class="profile_data">
                                    <h1 class="title_txt"> NORMAL </h1>
                                </div>
																{% endif %}

																{% if current_user.is_premium == True %}
                                <div class="profile_data">
                                    <h1 class="title_txt"> 
																			PREMIUM 
																			<img class="prem_icon_2" src="{{ url_for('static', filename='icons/premium.png') }}"> 
																		</h1>
                                </div>
																{% endif %}

                            	</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
{% endblock %}


{% block animations %}
<script>
        const target = document.getElementById('warning_window');
        function hide() {
            target.style.display = "none";
        }
        function show(){
            target.style.display = "inline-flex";
        }
        
        function del(){
            var check = document.getElementById('confirm').checked; 
            if (check == true){
								window.open('/delete_account', '_self');
            }
            if (check == false){
                alert("Please agree to the conditions if you wish to delete your account");
            }
        }
</script>
{% endblock %}