{% from "_formhelpers.html" import render_field %}

{% extends "default.html" %}
{% block title %} | Account Recovery {% endblock %}

{% block head_tags %} 
<style>
#forgot{
	transition: 300ms;
}

#forgot:hover{
	cursor:pointer;
	color: pink;
}
</style>
{% endblock %}

{% block divheader %}
<div id="main_cart">
{% endblock %}

{{ super() }}

{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        <div id="ALERT" class="alert_good">
            {% for message in messages %}
            <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
            {{ message }}
            {% endfor %}
        </div>
        <br>
        {% endif %}
        {% endwith %}

        <div id="productpage_holder">
          
            <div class="login_middle">
               
               <div class="login_side">
                   <h1 class="welcome"> ACCOUNT RECOVERY </h1>
                   <p class="welcome_para">
                       Please enter the email that is linked to the Compile Projects account you are trying to recover. We will forward a secure link to this email address through which you may use to reset the password on your account. After these previous steps you will be redirected to the login screen upon which you may login with your new credentials.
                   </p>
               </div>
               
                <div class="login_pannel">
                    <div class="login_contents">
                        <h1 class="login_header"> RECOVER ACCOUNT </h1>
                        <form class="login_form" action="/forgot_pass" method="POST">
                            {{ form.csrf_token }}

                            {{ render_field(form.email) }}
                            <br><br>
														{{ render_field(form.re) }}
														<br>
                            <div class="login_btn_holder">
                                {{ form.submit }}
                            </div>
                        </form>
                        <div class="cart_bottom_cals">
                            Remembered your password? No Problem!
                            <br><br>
                            <div style="color:white">
                                <span class="product" onclick="window.open('/login', '_self')">
                                    LOGIN
                                    <img src="icons/down.png" class="across">
                                </span>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <br><br>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
{% endblock %}


{% block animations %}

{% endblock %}