{% extends "default.html" %}
{% block title %} | Purchasing Policy {% endblock %}

{% block head_tags %}
<style>
    .SAVE {
        font-size: 18px;
        color: white;
        padding: 20px;
        background-color: limegreen;
        border: 3px solid limegreen;
        transition: 300ms;
        width: 100%;
        text-align: left;
    }

    .SAVE:hover {
        background-color: transparent;
        color: limegreen;
        border: 3px solid limegreen;
        cursor: pointer;
    }

    .EDIT_PROFILE_DESC {
        font-size: 18px;
        padding-bottom: 30px;
    }

    .profile_icon {
        height: 20px;
        padding-right: 10px;
    }

    .profile_side_icon {
        height: 15px;
    }

    .prem_icon {
        height: 25px;
    }

    .wrapper {
        display: flex;
    }

    .box {
        flex: 1;
        padding-left: 15px;
    }

    .box_2 {
        flex: 1;
        padding-left: 15px;
    }

    #layout_example {
        max-width: 100%;
    }


    .mobile {
        display: none;
        list-style: none;
        background-color: #fff5;
        border-bottom: 3px solid pink;
    }

    .mobile:hover {
        background-color: #fff2;
        border-left: 3px solid transparent;
        border-bottom: 3px solid pink;
    }

    .nav_arrow {
        height: 18px;
    }

    .profile_pannel_content {
        text-align: center;
        padding: 10px;
    }

.bye_desktop{
	display: none;
}
	
.grey{
	font-size: 18px;
	color: grey;
}
@media only screen and (max-width: 900px) {

.bye_desktop{
	display: block;
}

        #productpage_holder {
            padding: 8px;
        }

        .profile_side_menu_list {
            display: none;
        }

        .profile_side_menu_list.live {
            display: block;
            background-color: #fff5;
        }

        .bye_mobile {
            display: none;
        }

        .mobile {
            display: block;
        }

        .EDIT_PROFILE_DESC {
            padding-left: 15px;
            padding-right: 15px;
        }

        .edits {
            text-align: center;
        }

        .wrapper {
            flex-direction: column;
        }

        .box {
            flex: 1;
            padding-left: 0px;
        }

        .box_2 {
            flex: 1;
            padding: 15px;
        }
    }
</style>
{% endblock %}

{% block divheader %}
<div id="main_products">
    {% endblock %}

    {{ super() }}

    {% block content %}
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script>
        const target = document.getElementsByClassName("profile_side_menu_list");

        function profile_menu_open() {
            x = $(".profile_side_menu_list").first().hasClass("profile_side_menu_list live");

            if (!x) {
                target[0].className += " live";
            }

            if (x) {
                target[0].className = "profile_side_menu_list";
            }
        }
    </script>

    <div id="productpage_holder">
        <div class="profile_pannel">
            <div class="profile_flex">
                <div class="profile_side_menu">
                    <h1 class="profile_name">
                        LEGAL
                    </h1>

                    <li onclick="profile_menu_open()" class="mobile profile_btns">
                        MENU
                        <img class="nav_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                    </li>

                    <ul id"profile_menu" class="profile_side_menu_list">
														<br class="bye_desktop">

                            <li onclick="window.open('/legal', '_self')" class="profile_btns"> 
															PRIVACY POLICY
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
                            <li onclick="window.open('/legal/purchase', '_self')" class="active profile_btns"> 
															PURCHASING POLICY
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
														<li onclick="window.open('/legal/refund', '_self')" class="profile_btns"> 
															REFUND POLICY
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>
														<li onclick="window.open('/legal/free_app', '_self')" class="profile_btns"> 
															FREE APP AGREEMENT
															<img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}"> 
														</li>    
                        <br><br>
                        <li onclick="window.open('/faq', '_self')" class=" profile_btns">
                            FAQ
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                        <li onclick="window.open('/aboutus', '_self')" class=" profile_btns">
                            ABOUT US
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                        <li onclick="window.open('/FB_compile', '_self')" class=" profile_btns">
                            CONTACT US
                            <img class="profile_arrow" src="{{ url_for('static', filename='icons/down.png') }}">
                        </li>
                    </ul>
                    <br><br>
                </div>
                <div class="profile_pannel_content">

                    <img id="products_icon" src="{{ url_for('static', filename='logo/white_mini_transparent.png') }}">
                    <h1 class="product_list_title"> OFFICAL PURCHASING POLICY </h1>
                    <br>
                    <p class="top_desc prod_page_main_desc">
			Product ordering and purchasing at Compile Projects is an area which we have strived for simplicity as well as rigidity and security. This policy outlines the rights of both the consumer and Compile Projects with regards to the purchase of our products. The following rights are applicable to ALL purchases made from Compile Projects.
			    <br> 
				The Intellectual Rights to the code of your software product belong to Compile Projects, this means that request for the customer to have access to the code behind the product will be denied. 
			    <br> 
				Purchasing and reselling our products for a mark-up price is strictly prohibited and can result in the suspension or even termination of your account.
			    <br> 
				The primary email sent to the customer for retrieval of specification of the product is the final requirements listing. This means that any additional features or design changes to the product requested AFTER this email by the consumer are subject to the discretion of Compile Projects.
			    <br> 
				All products are subjected to a NON-REFUNDABLE 20% Downpayment for their creation to be started.
			    <br> 
				<span class="grey"> This has become necessary due to many customers placing orders which they never intend to purchase. </span>
			    <br> 
				Upon completion of your product Compile Projects holds the right to not deliver this final product if the consumer refuses to pay the final 80% of the cost of their product.
			<br>
                        <br>
                        <br>
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
    {% endblock %}


    {% block animations %}
    <!-- <script src="main_websites.js"></script> -->
    {% endblock %}
