{% from "_formhelpers.html" import render_field %}

{% extends "default.html" %}
{% block title %} | Reset Password {% endblock %}

{% block head_tags %} 
<style>
#forgot{
	transition: 300ms;
}

#forgot:hover{
	cursor:pointer;
	color: pink;
}
</style>
{% endblock %}

{% block divheader %}
<div id="main_cart">
{% endblock %}

{{ super() }}

{% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <br>
        <div id="ALERT" class="alert_good">
            {% for message in messages %}
            <span class="closebtn" onclick="this.parentElement.style.display='none';"> &times; </span>
            {{ message }}
            {% endfor %}
        </div>
        <br>
        {% endif %}
        {% endwith %}

        <div id="productpage_holder">
          
            <div class="login_middle">
               
               <div class="login_side">
                   <h1 class="welcome"> ACCOUNT RECOVERY </h1>
                   <p class="welcome_para">
                       Please enter the new password for your Compile Projects account. After this steps you will be redirected to the login screen upon which you may login with your new credentials.
                   </p>
               </div>
               
                <div class="login_pannel">
                    <div class="login_contents">
                        <h1 class="login_header"> RECOVER ACCOUNT </h1>
                        <form class="login_form" action="/reset" method="POST">
                            {{ form.csrf_token }}

                            {{ render_field(form.new_password) }}
                            <br><br>
														{{ render_field(form.new_2_password) }}
														<br>
                            <div class="login_btn_holder">
                                {{ form.submit }}
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        <br><br>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
{% endblock %}


{% block animations %}

{% endblock %}