{% extends "default.html" %}
{% block title %} | FAQ {% endblock %}

{% block head_tags %} 

{% endblock %}

{% block divheader %}
<div id="main_products">
{% endblock %}

{{ super() }}

{% block content %}
        <div id="productpage_holder">

            <div id="productpage_main_screen" class="top">
                <div id="top_desc">
										<h1 class="main_label"> FAQ </h1>
                    <p class="top_desc prod_page_main_desc">
                        Welcome to our FAQ page where commonly asked questions from our customers have been compiled
                        <br>
                        <br>
                    </p>
                    <div class="center_me">
                        <span class="product" onclick="window.open('/aboutus', '_self')">
                            ABOUT US
                            <img src="icons/down.png" class="across">
                        </span>
                        <br><br><br>
                        <span class="product" onclick="window.open('/legal', '_self')">
                            LEGAL
                            <img src="icons/down.png" class="across">
                        </span>
                        <br><br><br>
                        <span class="product" onclick="window.open('/products', '_self')">
                            PRODUCTS
                            <img src="icons/down.png" class="across">
                        </span>
                    </div>
                    <br>
                </div>
            </div>
            <br>

            <div id="productpage_main_screen">
                <div class="hold_all_products">
                    <div class="products_list">
                        <h1 class="product_list_title"> CAN'T FIND WHAT YOU'RE LOOKING FOR? </h1>
                        <br>
                        <p class="top_desc prod_page_main_desc">
                            Ensuring that your experience with us is the best that it possibly can be is our number one priority. Please feel free to inbox us any questions or concerns you may have about our products, services or company. We're happy to provide further detail!
                            <br>
                            <br>
                            <br>
                        </p>
                        <span class="product" onclick="window.open('https://m.me/compileprojects', '_self')">
                            ASK A QUESTION
                            <img src="icons/down.png" class="across">
                        </span>
                    </div>
                </div>
            </div>

            <br>
            <div id="productpage_main_screen">
                <div class="hold_all_products">
                    <div class="products_list">
                        <h1 class="product_list_title"> FREQUENTLY ASKED QUESTIONS </h1>
                        <br>
                        <div class="top_desc prod_page_main_desc">
                            <div class="question">
                                <div class="question_padding">
                                    <h2 class="quesiton_title">Question</h2>
                                    How long do orders take to deliver?
                                </div>
                                <div class="answer">
                                    <h2 class="quesiton_title">Answer</h2>
                                    The length of time taken for an order to be completed depends on the scale of the order, features selected as well as current order queue but the average time taken for order completion is 3 weeks.
                                </div>
                            </div>

                            <br>

                            <div class="question">
                                <div class="question_padding">
                                    <h2 class="quesiton_title">Question</h2>
                                    Do you offer refunds, if so what is the process of applying for a refund?
                                </div>
                                <div class="answer">
                                    <h2 class="quesiton_title">Answer</h2>
                                    Deposits for requested products such as websites and monthly premiums for website names (www.yourname.com) are non-refundable transactions. However, refunds for website builds and other products may be applied for on a case by case basis. Please inbox us with any further concerns about transactions.
                                    <br><br><br>
                                    <span class="product" onclick="window.open('https://m.me/compileprojects', '_self')">
                                        CONTACT US
                                        <img src="icons/down.png" class="across">
                                    </span>
                                    <br><br>
                                </div>
                            </div>

                            <br>

                            <div class="question">
                                <div class="question_padding">
                                    <h2 class="quesiton_title">Question</h2>
                                    I would like to make a purchase and wanted to ask how do transaction of payments occur?
                                </div>
                                <div class="answer">
                                    <h2 class="quesiton_title">Answer</h2>
                                    Further information on the ordering process can be found on our ordering process page.

                                    <br><br><br>
                                    <span class="product" onclick="window.open('/order', '_self')">
                                        ORDERING PROCESS
                                        <img src="icons/down.png" class="across">
                                    </span>
                                    <br><br>
                                </div>
                            </div>

                            <br>

                            <div class="question">
                                <div class="question_padding">
                                    <h2 class="quesiton_title">Question</h2>
                                    When are user products coming?
                                </div>
                                <div class="answer">
                                    <h2 class="quesiton_title">Answer</h2>
                                    Soon! We're constantly working on new and innovative products to share with the world. We are excited to present our current products as well as future products. Please stay tuned to our social media for the latest updates on future products in the pipeline!
                                    <br><br>
                                    <div id="social_icons">
                    										<img  onclick="window.open('https://www.facebook.com/compileprojects', '_self')" height="40px" src="icons/fb.png">
                    										<img onclick="window.open('https://twitter.com/compileproject', '_self')" height="40px" src="icons/twitter.png">
                    										<img onclick="window.open('https://www.instagram.com/compileprojects/', '_self')" height="40px" src="icons/ig.png">
                										</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="footer footer_special">
{% endblock %}


{% block animations %}
<!-- <script src="main_websites.js"></script> -->
{% endblock %}